/* .flowchart-link {
  animation: dash 30s linear infinite;
}

html,
body {
  font-family: 'JetBrainsMono NL Light', 'office code pro', Monaco, 'Courier New', monospace;
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  padding: 0;
  margin: 0;
  background-color: transparent;
} 

.node {
  fill: #119ea3;
}
.node * {
  fill: #119ea3;
} */